:host {
  font-size: var(--font-size-base);
}

html {
  font-size: var(--font-size-base);
  min-height: var(--viewport-height);
}

body {
  color: light-dark(var(--text-color-light), var(--text-color-dark));
  background-color: light-dark(var(--background-color-light), var(--background-color-dark));
  min-height: var(--viewport-height);
  font-family: var(--font-family-base);
  text-align: var(--alignment);
  user-select: none;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  border: 0;
  background-attachment: fixed;
  background-image:
    linear-gradient(135deg, rgba(0, 85, 250, 0.8) 0%, rgba(0, 255, 224, 0.722) 100%), url('/images/container06.svg');
  background-position:
    0% 0%,
    50%
      calc(
        50% -
          (
            ((var(--scroll-y, 0) * 0.0625rem) - (var(--element-top, 0) * 0.0625rem)) *
              var(--background-parallax-intensity, 0)
          )
      );
  background-repeat: repeat, no-repeat;
  background-size: cover, cover;
  position: relative;
}
