* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  color: light-dark(var(--color-secondary), var(--background-color-light));
  text-decoration: underline;
}

a:hover {
  color: light-dark(var(--background-color-dark), var(--color-secondary));
  text-decoration: none;
}
