* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  color: light-dark(#007bff, #eff3f9);
  text-decoration: underline;
}

a:hover {
  color: light-dark(#0a4e95, #097efb);
  text-decoration: none;
}
