main {
  width: auto;
  margin: 0 auto;
  padding: var(--padding-vertical) var(--padding-horizontal);
  padding-bottom: calc(var(--padding-vertical) * 1.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.container {
  flex-grow: 1;
  padding: var(--padding-vertical) var(--padding-horizontal);
  background: light-dark(var(--background-color-light), var(--background-color-dark));
  text-align: center;
  border-radius: var(--border-radius);
}

.inner-container {
  overflow: hidden;
}
