@use 'webext-base-css' as *;
@use '0-html' as *;
@use '1-base' as *;
@use '2-typography' as *;
@use '3-layout' as *;
@use '4-elements' as *;
@use '5-pages' as *;
@use '6-widgets' as *;

:root {
  --text-color-light: #495057;
  --text-color-dark: #efefec;
  --background-color-light: #f8f9fa;
  --background-color-dark: #1a283e;
  --background-height: 100vh;
  --viewport-height: 100vh;
  --site-language-alignment: left;
  --site-language-direction: ltr;
  --site-language-flex-alignment: flex-start;
  --site-language-indent-left: 1;
  --site-language-indent-right: 0;
  --site-language-margin-left: 0;
  --site-language-margin-right: auto;
  --border-radius: 0.5rem;
  --padding-horizontal: 1.25rem;
  --padding-vertical: 1.25rem;
  --spacing: 2.5rem;
  --alignment: left;
  --flex-alignment: flex-start;
  --indent-left: 1;
  --indent-right: 0;
  --margin-left: 0;
  --margin-right: auto;
  --font-family-base: sans-serif;
  max-width: initial;
}
