:root {
  --background-height: 100vh;
  --viewport-height: 100vh;
  --site-language-alignment: left;
  --site-language-direction: ltr;
  --site-language-flex-alignment: flex-start;
  --site-language-indent-left: 1;
  --site-language-indent-right: 0;
  --site-language-margin-left: 0;
  --site-language-margin-right: auto;
  --border-radius-tl: 0;
  --border-radius-tr: 0;
  --border-radius-br: 0;
  --border-radius-bl: 0;
  --padding-horizontal: 4rem;
  --padding-vertical: 4rem;
  --spacing: 2.5rem;
  --alignment: left;
  --flex-alignment: flex-start;
  --indent-left: 1;
  --indent-right: 0;
  --margin-left: 0;
  --margin-right: auto;
  --font-family-base: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

html,
body {
  font-family: var(--font-family-base);
  text-align: var(--alignment);
  user-select: none;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  border: 0;
  background-attachment: fixed;
  background-color: #000000;
  background-image: linear-gradient(135deg, rgba(0, 85, 250, 0.8) 0%, rgba(0, 255, 224, 0.722) 100%),
    url('/images/container06.svg');
  background-position:
    0% 0%,
    50%
      calc(
        50% - (((var(--scroll-y, 0) * 1px) - (var(--element-top, 0) * 1px)) * var(--background-parallax-intensity, 0))
      );
  background-repeat: repeat, no-repeat;
  background-size: cover, cover;
  position: relative;
}

a:link,
a:visited {
  color: #007bff;
  text-decoration: underline;
}

a:hover {
  color: #0a4e95;
  text-decoration: none;
}

h1 {
  color: #2c3e50;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

h2 {
  color: #2c3e50;
  font-size: 1rem;
  margin: 2rem 0 0.5rem;
}

p {
  color: #6c757d;
  margin-bottom: 1.5rem;
}

main {
  width: auto;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.container {
  flex-grow: 1;
  padding: 1.5rem;
  background: #f8f9fa;
  text-align: center;
  border-radius: 0.5rem;
}

.header {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.description {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  font-size: large;
}

.settings {
  text-align: left;

  &.first h2 {
    margin-top: 1.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    border-bottom: 1px solid #dee2e6;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  .feature {
    color: #495057;
  }

  .feature-link {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
    text-decoration: underline;
  }
}
