@use 'webext-base-css' as *;
@use '0-html' as *;
@use '1-base' as *;
@use '2-typography' as *;
@use '3-layout' as *;
@use '4-elements' as *;
@use '5-pages' as *;
@use '6-widgets' as *;

:root {
  --font-size-base: 16px;
  --font-family-base: 'Inter', sans-serif;

  // Palettes
  --color-primary: #ffee66;
  --color-secondary: #007bff;
  --color-tertiary: #ffab23;

  --text-color-light: #495057;
  --text-color-dark: #efefec;
  --background-color-light: #f8f9fa;
  --background-color-dark: #1c4381;

  // Colors
  --color-green: #21cc4c;
  --color-yellow: #ffcc00;
  --color-red: #f20606;
  --color-gray: rgb(182, 182, 182);
  --color-white: #fff;

  --background-height: 100vh;
  --viewport-height: 100vh;
  --border-radius: 0.6rem;
  --padding-horizontal: 1.5rem;
  --padding-vertical: 1.5rem;
  --spacing: 2.5rem;
  --alignment: left;
  --flex-alignment: flex-start;
  --indent-left: 1;
  --indent-right: 0;
  --margin-left: 0;
  --margin-right: auto;

  max-width: initial;
}
